__pycache__/
*.pyc
*.pyo
*.env
.DS_Store
venv/

# generated output files
encrypted_image.png
result_image.png
decrypted_image.png

# generated folders / runtime storage
keystore/

# optional: editor/system junk
.vscode/